.kakomi-hokuriku:hover {
    background-color: white;
    border: 1px solid blue;
}

.kakomi-kosei:hover {
    background-color: white;
    border: 1px solid deepskyblue;
}

.kakomi-osakahigashi:hover {
    background-color: white;
    border: 1px solid steelblue;
}

.kakomi-takarazuka:hover {
    background-color: white;
    border: 1px solid yellow;
}

.kakomi-tozai:hover {
    background-color: white;
    border: 1px solid deeppink;
}

.kakomi-osakaloop:hover {
    background-color: white;
    border: 1px solid red;
}

.kakomi-yumesaki:hover {
    background-color: white;
    border: 1px solid navy;
}

.kakomi-yamatoji:hover {
    background-color: white;
    border: 1px solid green;
}

.kakomi-hanwa:hover {
    background-color: white;
    border: 1px solid darkorange;
}

.kakomi-kansaiairport:hover {
    background-color: white;
    border: 1px solid darkblue;
}

.kakomi-kusatsu:hover {
    background-color: white;
    border: 1px solid lime;
}

.kakomi-nara:hover {
    background-color: white;
    border: 1px solid darkgoldenrod;
}

.kakomi-kakogawa:hover {
    background-color: white;
    border: 1px solid turquoise;
}

.kakomi-kishin:hover {
    background-color: white;
    border: 1px solid orangered;
}

.kakomi-wakayama1:hover {
    background-color: white;
    border: 1px solid hotpink;
}

.kakomi-wakayama2:hover {
    background-color: white;
    border: 1px solid hotpink;
}

.kakomi-manyomahoroba:hover {
    background-color: white;
    border: 1px solid firebrick;
}

.kakomi-kansai:hover {
    background-color: white;
    border: 1px solid purple;
}

.kakomi-kinokuni:hover {
    background-color: white;
    border: 1px solid darkturquoise;
}

.kakomi-other:hover {
    background-color: white;
    border: 1px solid black;
}

/* 
.local:hover {
    background-color: black;
    border-color: black;
    color: white;
}

.regionalrapid:hover {
    background-color: black;
    border-color: black;
    color: green;
}

.rapid:hover {
    background-color: black;
    border-color: black;
    color: darkorange;
}

.rapidC:hover {
    background-color: blue;
    border-color: blue;
    color: white;
}

.specialrapid:hover {
    background-color: black;
    border-color: black;
    color: blue;
}

.newrapid:hover {
    background-color: darkorange;
    border-color: darkorange;
    color: white;
}

.specialrapidC:hover {
    background-color: goldenrod;
    border-color: goldenrod;
    color: white;
}

.tanbajirapid:hover {
    color: goldenrod;
}

.kixrapid:hover {
    background-color: royalblue;
    border-color: royalblue;
    color: darkorange;
}

.kishujirapid:hover {
    background-color: black;
    border-color: black;
    color: darkorange;
}

.yamatojirapid:hover {
    background-color: black;
    border-color: black;
    color: green;
}

.miyakojirapid:hover {
    background-color: black;
    border-color: black;
    color: darkgoldenrod;
}

.directrapid:hover {
    background-color: black;
    border-color: black;
    color: steelblue;
}

.limitedexp:hover {
    background-color: black;
    border-color: black;
    color: red;
}

.express:hover {
    background-color: black;
    border-color: black;
    color: orangered;
}

.notinservice:hover {
    background-color: black;
    border-color: black;
    color: white;
}

.extra:hover {
    background-color: black;
    color: white;
    background-color: purple;
} */